---
title: All Posts
---
<div class="container">
  <div id="article">
  <h1>Archive</h1>
  <ul class="posts">

      {% for post in site.posts %}
        {% if post.show == true%}
          <li>
              <a href="{{ site.baseurl | within: site}}{{post.url | within: site}}">
                {{ post.title | within: site }}
              </a>
              <time class="pull-right post-list">
                {{ post.date | within: site | date_to_string | date: "%b %-d, %Y"  }}
              </time>

          </li>
        {% endif %}
      {% endfor %}
  </ul>
  <br>
  <br>
  <a href="/blogtest.html">Blog Test</a>
<br>
  <a href="/series.html">Series</a>
  <br>
  <a href="/archives.html">Archives</a>
</div>
