---
title: My Series1
---
<div class="container">
  <div id="article">

    {% assign arr = "blog" | split: ", " %}

    {% for cpage in site.posts %}
      {% assign bool = true %}

      {% for categ in arr %}
        {% if categ == cpage.categories %}
          {% assign bool = false %}
        {% endif %}
      {% endfor %}

      {% assign tempcpage = cpage %}

      {% if bool == true %}
          {% assign arr = {{arr | push: cpage.categories}} %}
            <h1>{{cpage.categories}}</h1>
            <ul>
            {% assign postarr = "" %}

            {% for cat in site.posts %}
            <li>IF STATE: "{{ cat.categories }}" "{{tempcpage.categories}}"</li>
              {% if cat.categories == tempcpage.categories %}
                {{ cat.title }}
                {% assign postarr = {{ postarr | push: cat }} %}
              {% endif %}
            {% endfor %}

            {% for p in postarr %}
              <li><a href="{{ site.baseurl | within: site}}{{p.url | within: site}}">{{ p.title | within: site }} </a></li>
            {% endfor %}
          </ul>
          <br>
      {% endif %}
    {% endfor %}

</div>
