---
title: My Series1234567
---
<div class="container">
  <div id="article">

    {% assign arr = "blog" | split: ", " %}

    {% for cpage in site.posts %}
      {% assign bool = true %}

      {% for categ in arr %}
        {% if categ == cpage.categories %}
          {% assign bool = false %}
        {% endif %}
      {% endfor %}

      {% assign tempcpage = cpage %}

      {% if bool == true %}
          {% assign arr = {{arr | push: cpage.categories}} %}
            <h1>{{cpage.categories}}</h1>
            <ul>
            {% assign posturls = "" %}
            {% assign posttitles = "" %}
            {% assign str = "" %}
            {% for cat in site.posts %}
              {% assign abc = {{ site.posts[3]]}}.title %}

              {% if cat.categories == tempcpage.categories %}
                {% assign posttitles = {{ posttitles | unshift: cat.title }} %}
                {% assign posturls  = {{ posturls | push: cat.url }} %}
                {% assign str = {{ str | prepend: '<li><a href="{{ site.baseurl | within: site}}{{ cat.url }}"> {{ cat.title }} </a></li>'}} %}
              {% endif %}
            
            {% endfor %}
            {{str}}
          </ul>
          <br>
      {% endif %}
    {% endfor %}

</div>
