---
title: My Series1
---
<div class="container">
  <div id="article">

    {% assign arr = "blog" | split: ", " %}

    {% for cpage in site.posts %}
      {% assign bool = true %}

      {% for categ in arr %}
        {% if categ == cpage.categories %}
          {% assign bool = false %}
        {% endif %}
      {% endfor %}

      {% assign tempcpage = cpage %}

      {% if bool == true %}
          {% assign arr = {{arr | push: cpage.categories}} %}
            <h1>{{cpage.categories}}</h1>
            <ul>
            {% assign posturls = "" %}
            {% assign posttitles = "" %}

            {% for cat in site.posts %}
              {% if cat.categories == tempcpage.categories %}
                {% assign postitles = {{ postarr.title | push: cat.title }} %}
                {% assign posturls  = {{ postarr.url | push: cat.url }} %}
              {% endif %}
            {% endfor %}

            {% for p in posturls %}
              <li><a href="{{ site.baseurl | within: site}}{{ posturls[forloop.rindex0] }}"> {{ posttitles[forloop.rindex0] }} </a></li>
            {% endfor %}
          </ul>
          <br>
      {% endif %}
    {% endfor %}

</div>
