<!--suppress HtmlUnknownTarget -->
<ul class="pager">


  {% assign prev = "" %}
  {% assign next = "" %}
  {% assign stop = false %}

  {% for post in site.posts%}
    {% if post == page %}
      {% assign stop = true %}
    {% elsif post.categories == page.categories %}
      {% if stop %}
          {% assign prev = post.url %}
          {% assign pTitle = post.title %}
          {% break %}
      {% else %}
          {% assign next = post.url %}
          {% assign nTitle = post.title %}
      {% endif %}
    {% endif %}

  {% endfor%}

  {% if prev != "" %}
    <li class="previous"><a href="{{ prev }}" style="max-width: 47%">&larr; Previous Page  -  {{pTitle}}</a></li>
  {% endif %}
  {% if next != "" %}
      <li class="next"><a href="{{ next }}" style="max-width: 47%"> Next Page  -  {{nTitle}} &rarr;</a></li>
  {% endif %}

</ul>
