
<ul class="pager">


  {% assign prev = "" %}
  {% assign next = "" %}
  {% assign stop = false %}

  {% for post in site.posts%}
    {% if post == page %}
      {% assign stop = true %}
    {% elsif post.categories == page.categories %}
      {% if !stop %}
        {% assign prev = post %}
      {% else %}
        {% assign next = post %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor%}

  {% if prev != "" %}
    <li class="previous"><a href="{{ prev }}">&larr; Previous Page <br>{{prev.title}}</a></li>
  {% endif %}
  {% if next != "" %}
      <li class="next"><a href="{{ next }}"> Next Page &rarr;<br>{{next.title}}</a></li>
  {% endif %}

</ul>
