---
layout: default
---
<div id="article">
  <div class="article-title">{{ page.title }}</div>
  <p class="meta">
    <small>
      &nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}
    </small>
  </p> <hr/>
  <div class="post">
    {{ content }}
    <br>
    <h3>Table of Contents</h3>

    <ul>

        {% assign cat page.categories%}
        {% for post in site.categories.cat %}
          <li>
            <a href="{{ site.baseurl | within: site}}{{post.url | within: site}}">
              {{ post.title | within: site }}
            </a>
          </li>
    </ul>
  </div>
</div>
{% include share.html %}
<!---{% if page.categories == "general"%}
  {% include pager.html %}
{% else %}--->
  {% include seriespager.html %}
<!---{% endif %}--->
{% include comment.html %}
